    /*index css*/
    
    #gradpic {
        float: left;
        height: auto;
        width: 300px;
    }
    
    body {
        background-color: peachpuff;
        font-family: 'Roboto', sans-serif;
        background-image: url("https://images.unsplash.com/photo-1554755229-ca4470e07232?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .container {
        box-sizing: border-box;
        border: 30px 30px;
        border-style: solid;
        border-color: aqua;
        height: auto;
        width: auto;
        margin-top: 50px;
        padding: 0px;
    }
    
    .container p {
        color: black;
        text-align: left;
        line-height: 1.8;
    }
    /*Media Query for About Me*/
    
    @media screen and (max-width: 650px) {
        .body {
            width: 100%;
            display: block;
        }
    }
    
    .display-4 {
        text-align: center;
    }
    
    #veganImg {
        height: 200px;
        width: 300px;
    }
    
    #weatherImg {
        height: 200px;
        width: 300px;
    }
    
    #workdayImg {
        height: 200px;
        width: 300px;
    }